@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
   @apply bg-gray-100 text-gray-900 px-8;
   font-family: "Inter", sans-serif;
}

h1 {
}

footer {
   @apply bg-gray-900 text-gray-100 py-0.5;
   width: 100%;
   position: fixed;
   bottom: 0;
   left: 0;
   font-size: 10px;
}